body{
    font: 20px Arial, sans-serif;

}

.navbar{ 
    background-color: burlywood;
}

.contato {
    background-color: rgba(201, 147, 116, 0.863);
    color: white;

}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: rgba(153, 133, 78, 0.884);

}

.bg-footer{
    background-color: orange;

}

/*.modalidade{
    font:Helvetica; 
    size:30px; 
    color: blue;}
.recorde{color:blue; font-size:30px;}
.nacionalidade{color:blue; font-size:30px;} 
.nome{font-size:30px; color:blue} */